@using Client.BuildingBlocks.Http
@using Client.BuildingBlocks.Modals.Invitations
@using Microsoft.AspNetCore.SignalR.Client
@inject IModalService modalService
@inject HttpClientService httpClientService

<div class="h-full w-full grid grid-rows-[90px_2fr] gap-y-6">
    <div class="mt-3 flex flex-row gap-x-3 justify-between">
        <div class="mt-1 self-end">
            <h3 class="text-2xl">Your Accelerator Admin Dashboard</h3>
            <h5 class="text-lg">Stay connected with your start fellowship founders</h5>
        </div>
        <div class="flex flex-row ml-5 gap-x-3">
            <div class="w-[190px] rounded rounded-b-none border-orange border-b-[6px] bg-grey-200 p-1 flex flex-row">
                <div class="self-end">
                    <h3 class="text-xl font-medium">@fellowCount</h3>
                    <h3>Supported Fellows</h3>
                </div>
            </div>
            <div class="w-[190px] rounded rounded-b-none border-orange border-b-[6px] bg-grey-200 p-1 flex flex-row">
                <div class="self-end">
                    <h3 class="text-xl font-medium">@knowledgeBase</h3>
                    <h3>knowledge base entries</h3>
                </div>
            </div>
            <div class="w-[190px] rounded rounded-b-none border-orange border-b-[6px] bg-grey-200 p-1 flex flex-row">
                <div class="self-end">
                    <h3 class="text-xl font-medium">@startupCount</h3>
                    <h3>Tracked startups</h3>
                </div>
            </div>
            <div class="w-[34px] rounded rounded-b-none rounded-r-none border-orange border-b-[6px] bg-grey-200 grid justify-center content-end	">
                <img class="mb-2 cursor-pointer" src="/icons/settings.png" />
            </div>
        </div>
    </div>
    <div class="grid grid-cols-[1fr_2fr_0.7fr] gap-x-4 mb-3">
        <div class="bg-white rounded border border-black">
            <FounderStartupOverviewComponent/>
        </div>
        <div class="bg-white rounded border border-black">
            <StartupKnowledgeBase />
        </div>
        <div class="grid grid-rows-[1fr_180px] gap-y-4">
            <div class="bg-white rounded border border-black p-2">
                <div class="border-b border-orange pb-1">
                    <h3 class="text-md font-medium text-gray-900">Crawled startup content</h3>
                    <h5 class="text-sm">Move the crawled content to the knowledge base or ignore it</h5>
                </div>
                <div class="h-full">
                    @if (crawledContents != null && crawledContents.Any())
                    {
                        <div class="grid content-between mt-3">
                            <div>
                                <h3 class="font-medium">
                                    @crawledContents.First().Title
                                </h3>
                                <h6>
                                    @crawledContents.First().Content
                                </h6>
                            </div>

                            <div class="flex flex-row gap-x-2">
                                <button @onclick="async() => await MoveCrawledAsync(crawledContents.First().Id)" class="flex-1 mt-3 w-[75px] text-sm text-white bg-orange hover:bg-white hover:text-orange hover:border-orange border border-1 border-black cursor-pointer p-1 rounded">
                                    <span>Move to knowledge base</span>
                                </button>

                                <button @onclick="async() => await DeleteCrawledAsync(crawledContents.First().Id)" class="h-[30px] px-2 mt-3 font-semibold rounded-[3px] text-sm bg-grey-200 hover:bg-grey-300">
                                    <span>Ignore</span>
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="bg-white rounded border border-black p-2">
                <h3 class="mb-1.5 block text-md font-medium text-gray-900 dark:text-white">Manage your incubator</h3>

                <div class="flex flex-col gap-y-2 mt-4 self-start">
                    <div class="flex flex-row gap-x-3">
                        <button @onclick='() => OpenSignUpModal("guest")' class="flex-1 text-md hover:bg-orange border hover:text-white border-1 border-black cursor-pointer p-1 rounded" target="_blank" href="/swagger/index.html">
                            <span>Invite guest</span>
                        </button>
                        <button @onclick='() => OpenSignUpModal("admin")' class="flex-1 text-md hover:bg-orange hover:text-white border border-1 border-black cursor-pointer p-1 rounded" target="_blank" href="/swagger/index.html">
                            <span >Invite admin</span>
                        </button>
                    </div>
                    <button @onclick='() => OpenCreateStartupModal()' class="w-full text-md hover:bg-orange hover:text-white border border-1 border-black cursor-pointer p-1 rounded" target="_blank" href="/swagger/index.html">
                        <span>Add a startup</span>
                    </button>
                    <button @onclick='() => OpenSignUpModal("fellow")' class="w-full text-md text-white bg-orange hover:bg-white hover:text-orange hover:border-orange border border-1 border-black cursor-pointer p-1 rounded" target="_blank" href="/swagger/index.html">
                        <span >Invite fellow</span>
                    </button>        
                </div>

            </div>
        </div>
    </div>
</div>

@code {
    private IModalReference modalReference;
    private int fellowCount;
    private int startupCount;
    private int knowledgeBase;
    private int index;

    private List<CrawledContentDTO> crawledContents;

    [CascadingParameter]
    public HubConnection HubConnection { get; set; }

    private async Task DeleteCrawledAsync(Guid id)
    {
        await httpClientService.DeleteFromAPIAsync($"/crawledcontent", id);
    }

    private async Task MoveCrawledAsync(Guid id)
    {
        await httpClientService.PostToAPIAsync($"/crawledcontent/{id}", new {  });
    }

    public void OpenSignUpModal(string type)
    {
        var modelParameters = new ModalParameters
        {
            { nameof(InviteMembersComponent.CancelRequestedCallback), new EventCallback(this, () => modalReference.Close()) },
            { nameof(InviteMembersComponent.InvitationType), type },

        };

        modalReference = modalService.Show<InviteMembersComponent>(string.Empty, modelParameters, DefaultModalOptions.Modal);
    }

    public void OpenCreateStartupModal()
    {
        var modelParameters = new ModalParameters
        {
            { nameof(CreateStartupModal.CancelRequestedCallback), new EventCallback(this, () => modalReference.Close()) },

        };

        modalReference = modalService.Show<CreateStartupModal>(string.Empty, modelParameters, DefaultModalOptions.Modal);
    }

    protected override async Task OnInitializedAsync()
    {
        fellowCount = await httpClientService.GetFromAPIAsync<int>("/founders/count");
        startupCount = await httpClientService.GetFromAPIAsync<int>("/startups/count");
        knowledgeBase = await httpClientService.GetFromAPIAsync<int>("/contentfeeds/count");

        crawledContents = await httpClientService.GetFromAPIAsync<List<CrawledContentDTO>>("/crawledcontent");

        HubConnection.On("NewStartup", async () =>
        {
            startupCount = await httpClientService.GetFromAPIAsync<int>("/startups/count");
            StateHasChanged();
        });

        HubConnection.On("crawledupdate", async () =>
        {
            crawledContents = await httpClientService.GetFromAPIAsync<List<CrawledContentDTO>>("/crawledcontent");
            StateHasChanged();
        });
    }
}
